.para1{
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    color: rgba(219, 59, 59,0.38);
}

h1{
    color: aqua;
    font-size:1.9em;
}

.div1{
    text-transform: capitalize;
    text-decoration:underline;
    line-height: 0.2em;
    text-indent: 10px;
}